<template>
	<div class="sticky-footer-container-item">
		<footer class="container mb-32">© 2019 Suitmedia</footer>
	</div>
</template>

<script>
export default {
	name: 'Footer'
}
</script>

<style lang="scss" scoped></style>
