<template>
	<div
		class="sidebar"
		:class="{ 'is-active': isOpen, desktop: type === 'desktop' }"
	>
		<ul class="list-nostyle mb-24">
			<li v-for="item in items" :key="item.id" @click="toggleSidebar">
				<nuxt-link
					:id="item.id"
					class="sidebar__link link-black70"
					:class="{ 'is-active': item.url === $route.path }"
					:to="item.url"
					>{{ item.title }}</nuxt-link
				>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'Header',
	props: {
		isOpen: {
			type: Boolean,
			default: true
		},
		type: {
			type: String,
			default: 'mobile'
		}
	},
	data() {
		return {
			items: [
				{
					id: 'headingsNav',
					title: 'Headings',
					url: '/headings'
				},
				{
					id: 'colorsNav',
					title: 'Colors',
					url: '/colors'
				},
				{
					id: 'listsNav',
					title: 'Lists',
					url: '/lists'
				},
				{
					id: 'textAlignmentNav',
					title: 'Text Alignment',
					url: '/text-alignment'
				},
				{
					id: 'buttonsNav',
					title: 'Buttons',
					url: '/buttons'
				},
				{
					id: 'alertNav',
					title: 'Alert',
					url: '/alert'
				},
				{
					id: 'cardNav',
					title: 'Card',
					url: '/card'
				},
				{
					id: 'mediaObjectNav',
					title: 'Media Object',
					url: '/media-object'
				},
				{
					id: 'gridNav',
					title: 'Grid',
					url: '/grid'
				},
				{
					id: 'tableNav',
					title: 'Table',
					url: '/table'
				},
				{
					id: 'formNav',
					title: 'Form',
					url: '/form'
				}
			]
		}
	},
	methods: {
		toggleSidebar() {
			this.$emit('toggleSidebar')
		}
	}
}
</script>

<style lang="scss" scoped>
.desktop {
	display: none;
}

@media #{$medium} {
	.desktop {
		display: block;
	}
}
</style>
