
.flexbox {

    .flex {
        display: flex;

        .flex-content {
            flex: 1 1 auto;
        }
    }

    .flex--wrap {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .v-center {
        align-items: center;
    }

    .h-center {
        justify-content: center;
    }

    .v-center--spread {
        justify-content: space-between;
    }
}
