.slick-container {
    width: 95%;
    margin: 0 auto;
}

.slick-slide {
    margin: 10px;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;

    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline: none;

    font-size: 0;
    line-height: 0;
    color: transparent;
    background: $black;

    cursor: pointer;
    transform: translate(0, -50%);

    &:hover,
    &:focus {
        outline: none;
        color: transparent;
        background: $black;

        &:before {
            opacity: 1;
        }
    }

    &.slick-disabled:before {
        opacity: .5;
    }

    &:before {
        font-family: "Font Awesome 5 Free";
        font-size: 16px;
        font-weight: 900;
        line-height: 10px;
        color: white;
        opacity: .75;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -25px;

    [dir='rtl'] & {
        right: -25px;
        left: auto;

        &:before {
            content: "\f105";
        }
    }

    &:before {
        content: "\f104";
    }
}

.slick-next
{
    right: -25px;

    [dir='rtl'] & {
        right: auto;
        left: -25px;

        &:before {
            content: "\f104";
        }
    }

    &:before {
        content: "\f105";
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
    text-align: center;

    li {
        position: relative;

        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;

        cursor: pointer;

        button {
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            border: 0;
            outline: none;

            font-size: 0;
            line-height: 0;
            color: transparent;

            background: transparent;
            cursor: pointer;

            &:hover,
            &:focus {
                outline: none;
            }

            &:before {

                position: absolute;
                top: 0;
                left: 0;

                width: 20px;
                height: 20px;

                font-size: 20px;
                content: '•';
                text-align: center;
                color: black;

                opacity: .25;

                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

        }

        &.slick-active button:before {
            color: black;
            opacity: .75;
        }
    }
}
