
.table,
.dataTable {

    thead {
        color: #fff;
        background: #444;
    }

    tbody {

        tr:nth-child(even) {
            background: rgba(#eee, .3);
        }
    }

    th,
    td {
        padding: 8px !important;
        border: solid 1px #ddd !important;
        font-size: 90%;
    }
}

.table-wrapper {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    @media #{$large} {
        overflow: visible;
    }
}

table.dataTable {
    thead th {
        position: relative;
        background-image: none !important;

        &.sorting:after,
        &.sorting_asc:after,
        &.sorting_desc:after {
            position: absolute;
            top: 8px;
            right: 8px;
            display: block;
            font-family: "Font Awesome 5 Free";
        }

        &.sorting:after {
            content: "\f0dc";
            color: #ccc;
        }

        &.sorting_asc:after {
            content: "\f0de";
        }

        &.sorting_desc:after {
            content: "\f0dd";
        }
    }

    &.no-footer {
        border-bottom: none !important;
    }
}

.dataTables_paginate span {
    display: flex;
}

.paginate_button {
    &.previous,
    &.next {
        &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
        }
    }
    &.previous:before {
        content: "\f104";
    }

    &.next:before {
        content: "\f105";
    }
}
