<template>
	<div id="app">
		<Sidebar type="desktop" />
		<Sidebar :isOpen="isOpen" @toggleSidebar="toggleSidebar" />
		<Header @toggleSidebar="toggleSidebar" />
		<div class="main main--pushed js-main">
			<div class="sticky-footer-container">
				<nuxt />
				<Footer />
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DefaultLayout',
	data() {
		return {
			isOpen: false
		}
	},
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			]
		}
	},
	methods: {
		toggleSidebar() {
			this.isOpen = !this.isOpen
		}
	}
}
</script>
