<template>
	<div class="sticky-footer-container-item --pushed">
		<main>
			<div class="container">
				<!-- Alert -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Alert</h2>
					<div class="alert">Alert default</div>
					<div
						v-for="(color, index2) in colors"
						:key="index2"
						:class="'alert--' + color"
						class="mr-8"
					>
						Alert {{ color }}
					</div>
				</div>
				<hr />

				<!-- Alert box-->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Alert Box</h2>
					<button
						class="btn--primary"
						@click="openAlert($event, 'alert1')"
						data-alert="#alert1"
					>
						Alert 1
					</button>
					<button
						class="btn--primary js-trigger-alert"
						@click="openAlert($event, 'alert2')"
						data-alert="#alert2"
					>
						Alert 2
					</button>
					<div ref="alert1" class="alert--popup">
						<div class="alert--primary alert--popup-content">
							<span
								class="alert--close js-alert-close"
								@click="closeAlert($event, 'alert1')"
							>
								<i class="bzi-close bzi-1_5x"></i
							></span>
							<h4>Lorem Ipsum!</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
								in reprehenderit in voluptate velit esse cillum dolore eu fugiat
								nulla pariatur. Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							<hr />
							<p class="mb-0">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
								qui obcaecati tempora. Quod, nesciunt culpa sunt sit itaque
								voluptate molestiae in quia quos quam tempora sequi illo
								molestias? Rerum, sit?
							</p>
						</div>
					</div>

					<div ref="alert2" class="alert--popup" id="alert2">
						<div class="alert--danger alert--popup-content">
							<span
								class="alert--close js-alert-close"
								@click="closeAlert($event, 'alert2')"
							>
								<i class="bzi-close bzi-1_5x"></i
							></span>
							<h4>Number 2</h4>
							<p>Test Number 2</p>
						</div>
					</div>
				</div>
				<hr />
			</div>
		</main>
	</div>
</template>

<script>
export default {
	computed: {
		colors() {
			return this.$store.state.colors
		}
	},
	methods: {
		// reusable open alert
		openAlert($event, ref) {
			this.$refs[ref].classList.add('block')
		},
		closeAlert($event, ref) {
			this.$refs[ref].classList.remove('block')
		}
	}
}
</script>

<style lang="scss" scoped>
.block {
	display: block;
}
</style>
