<template>
	<div class="sticky-footer-container-item --pushed">
		<main>
			<div class="container">
				<!-- Buttons -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Buttons</h2>
					<p v-for="(color, index) in colors" :key="index">
						<button
							v-for="(style, index2) in styles"
							:key="index2"
							:class="'btn--' + style + color"
							class="mr-8"
						>
							Button Color
						</button>
					</p>
				</div>
				<hr />

				<!-- Button sizing -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Button Sizing</h2>
					<p>
						<button
							v-for="(style, index2) in styles"
							:key="index2"
							:class="'btn--' + style + 'primary btn--small'"
							class="mr-8"
						>
							Small Button
						</button>
					</p>
					<p>
						<button
							v-for="(style, index2) in styles"
							:key="index2"
							:class="'btn--' + style + 'primary'"
							class="mr-8"
						>
							Normal Button
						</button>
					</p>
					<p>
						<button
							v-for="(style, index2) in styles"
							:key="index2"
							:class="'btn--' + style + 'primary btn--large'"
							class="mr-8"
						>
							Large Button
						</button>
					</p>
				</div>
				<hr />

				<!-- Icon-only buttons -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Icon-only Buttons</h2>
					<p>
						<button class="btn--primary btn--small btn--icon">
							<span class="bzi-search" aria-hidden="true"></span>
						</button>
						<button class="btn--ghost-black btn--small btn--icon">
							<span class="bzi-close" aria-hidden="true"></span>
						</button>
						<button class="btn--flat-light-grey btn--small btn--icon">
							<span class="bzi-user" aria-hidden="true"></span>
						</button>
					</p>
					<p>
						<button class="btn--primary btn--icon">
							<span class="bzi-user bzi-1_2x" aria-hidden="true"></span>
						</button>
						<button class="btn--ghost-black btn--icon">
							<span class="bzi-search bzi-1_2x" aria-hidden="true"></span>
						</button>
						<button class="btn--flat-light-grey btn--icon">
							<span class="bzi-close bzi-1_2x" aria-hidden="true"></span>
						</button>
					</p>
					<p>
						<button class="btn--primary btn--large btn--icon">
							<span class="bzi-close bzi-2x" aria-hidden="true"></span>
						</button>
						<button class="btn--ghost-black btn--large btn--icon">
							<span class="bzi-user bzi-2x" aria-hidden="true"></span>
						</button>
						<button class="btn--flat-light-grey btn--large btn--icon">
							<span class="bzi-search bzi-2x" aria-hidden="true"></span>
						</button>
					</p>
				</div>
				<hr />

				<!-- Icon + Text buttons -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Icon + Text Buttons</h2>
					<p>
						<button class="btn--primary btn--small">
							Search <i class="bzi-search" aria-hidden="true"></i>
						</button>
						<button class="btn--ghost-black btn--small">
							<span class="bzi-close" aria-hidden="true"></span> Cancel
						</button>
						<button class="btn--flat-light-grey btn--small">
							Profile <span class="bzi-user" aria-hidden="true"></span>
						</button>
					</p>
					<p>
						<button class="btn--primary">
							<i class="fas fa-user"></i> Profile
						</button>
						<button class="btn--ghost-black">
							Search <i class="fas fa-search"></i>
						</button>
						<button class="btn--flat-light-grey">
							<i class="fas fa-times"></i> Cancel
						</button>
					</p>
					<p>
						<button class="btn--primary btn--large">
							Cancel <span class="bzi-close bzi-1_2x" aria-hidden="true"></span>
						</button>
						<button class="btn--ghost-black btn--large">
							<span class="bzi-user bzi-1_2x" aria-hidden="true"></span> Profile
						</button>
						<button class="btn--flat-light-grey btn--large">
							<span class="bzi-search bzi-1_2x" aria-hidden="true"></span>
							Search
						</button>
					</p>
				</div>
				<hr />
			</div>
		</main>
	</div>
</template>

<script>
export default {
	computed: {
		colors() {
			return this.$store.state.colors
		},
		styles() {
			return this.$store.state.styles
		}
	}
}
</script>

<style lang="scss" scoped>
span {
	vertical-align: baseline;
}
</style>
