<template>
	<div class="sticky-footer-container-item --pushed">
		<main>
			<div class="container">
				<!-- Flex Card -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Flex Card</h2>
					<div class="card-group">
						<div class="card--primary mb-12">
							<div class="card--header">Card header</div>
							<img class="card--image" src="~assets/img/favicon.png" alt="" />
							<div class="card--body">
								<h5>Card</h5>
								<p class="mb-0">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									Dignissimos quia consectetur quibusdam repudiandae!
								</p>
							</div>
							<div class="card--footer">Card footer</div>
						</div>
						<div class="card--secondary mb-12">
							<div class="card--header">Card header</div>
							<img class="card--image" src="~assets/img/favicon.png" alt="" />
							<div class="card--body">
								<h5>Card</h5>
								<p class="mb-0">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat. Duis aute
									irure dolor in reprehenderit in voluptate velit esse cillum
									dolore eu fugiat nulla pariatur. Excepteur sint occaecat
									cupidatat non proident, sunt in culpa qui officia deserunt
									mollit anim id est laborum.
								</p>
							</div>
							<div class="card--footer">Card footer</div>
						</div>
						<div class="card--light-grey mb-12">
							<div class="card--header">Card header</div>
							<img class="card--image" src="~assets/img/favicon.png" alt="" />
							<div class="card--body">
								<h5>Card</h5>
								<p class="mb-0">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
									veniam rerum nihil laboriosam, architecto sequi dolor
									doloribus impedit totam voluptatibus earum vel exercitationem
									quas commodi. Quidem, fugit corrupti beatae accusantium!
								</p>
							</div>
						</div>
						<div class="card mb-12">
							<img class="card--image" src="~assets/img/favicon.png" alt="" />
							<div class="card--body">
								<h5>Card</h5>
								<p class="mb-0">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
									veniam rerum nihil laboriosam, architecto sequi dolor
									doloribus impedit totam voluptatibus earum vel exercitationem
									quas commodi. Quidem, fugit corrupti beatae accusantium!
								</p>
							</div>
							<div class="card--footer">Card footer</div>
						</div>
					</div>
				</div>
				<hr />

				<!-- Baze Grid Card -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Baze Grid Card</h2>
					<div
						class="bzg bzg--flex card-group js-card"
						data-card="dev/data/data.json"
					>
						<div
							v-for="(data, index) in filteredList"
							:key="index"
							class="bzg_c mb-24"
							id="..."
							data-col="s12,m6,l3"
						>
							<div class="card--primary">
								<div class="card--header">{{ data.header }}</div>
								<a href="#"
									><img class="card--image" :src="data.image" alt=""
								/></a>
								<div class="card--body">
									<h5>{{ data.title }}</h5>
									<p class="text-right">{{ convertDate(data.date) }}</p>
									<p class="mb-0">
										{{ data.description }}
									</p>
								</div>
								<div class="card--footer">{{ data.footer }}</div>
							</div>
						</div>
					</div>
				</div>
				<hr />
			</div>
		</main>
	</div>
</template>

<script>
export default {
	data() {
		return {
			dataCard: [
				{
					id: '35cb01ef798c35fa8fa54ceff',
					image: '//via.placeholder.com/180?text=30',
					url: '#',
					title: 'Fields Mcconnell',
					description:
						'Ullamco dolore minim culpa est non aliqua labore adipisicing commodo veniam magna culpa.',
					date: '2019/03/20 05:59:30',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef71013e765980c17ee',
					image: '//via.placeholder.com/180?text=31',
					url: '#',
					title: 'Iris Carr',
					description:
						'Occaecat officia ex pariatur duis sint ullamco ut cupidatat qui irure ullamco exercitation magna.',
					date: '2019/03/28 04:24:46',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				},
				{
					id: '35cb01ef72cb4bbf69bc39ce5',
					image: '//via.placeholder.com/180?text=32',
					url: '#',
					title: 'Oneil Larson',
					description:
						'Sit officia anim cupidatat cupidatat occaecat culpa ut.',
					date: '2019/03/13 11:12:16',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef708ce83cf2fd135cb',
					image: '//via.placeholder.com/180?text=33',
					url: '#',
					title: 'White Lowe',
					description: 'Occaecat consectetur eiusmod incididunt esse dolore.',
					date: '2019/03/22 07:26:40',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef73adad6ce57fc1308',
					image: '//via.placeholder.com/180?text=34',
					url: '#',
					title: 'Marie Hernandez',
					description:
						'Lorem elit nisi non ea cupidatat tempor laborum aliqua exercitation.',
					date: '2019/03/12 04:43:12',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				},
				{
					id: '35cb01ef72936c2582deb0c42',
					image: '//via.placeholder.com/180?text=35',
					url: '#',
					title: 'Larson Powers',
					description:
						'Irure adipisicing id magna eiusmod magna id dolor esse velit.',
					date: '2019/04/03 05:36:02',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef76ee7c0a62a6c5554',
					image: '//via.placeholder.com/180?text=36',
					url: '#',
					title: 'Tami Wood',
					description:
						'Minim pariatur irure cillum culpa cupidatat qui commodo amet.',
					date: '2019/03/24 11:48:45',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef7c7c17a4a0d917a3a',
					image: '//via.placeholder.com/180?text=37',
					url: '#',
					title: 'Gaines Hewitt',
					description:
						'Pariatur sit tempor laborum amet nisi enim consequat voluptate.',
					date: '2019/03/31 03:44:11',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				},
				{
					id: '35cb01ef793a6d0333c6c8990',
					image: '//via.placeholder.com/180?text=38',
					url: '#',
					title: 'Johanna Sargent',
					description:
						'Voluptate sit anim consequat velit commodo qui tempor nisi dolor duis consequat.',
					date: '2019/02/14 04:43:38',
					header: 'Header title',
					footer: 'Footer title',
					show: true
				},
				{
					id: '35cb01ef770ea4fc52ce47318',
					image: '//via.placeholder.com/180?text=39',
					url: '#',
					title: 'Dorsey White',
					description:
						'Velit id labore culpa veniam labore elit amet sunt nostrud.',
					date: '2019/04/12 01:38:38',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				},
				{
					id: '35cb01ef758ce4d1828565d9d',
					image: '//via.placeholder.com/180?text=310',
					url: '#',
					title: 'Vance Levine',
					description:
						'Non consectetur Lorem sunt non ad ad commodo occaecat labore elit est aliqua.',
					date: '2019/03/09 07:54:19',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				},
				{
					id: '35cb01ef7902307077b80d570',
					image: '//via.placeholder.com/180?text=311',
					url: '#',
					title: 'Gwendolyn Booker',
					description:
						'Non adipisicing nostrud irure sit ea dolor laborum aliquip velit.',
					date: '2019/03/08 10:00:52',
					header: 'Header title',
					footer: 'Footer title',
					show: false
				}
			]
		}
	},
	computed: {
		filteredList() {
			return this.dataCard.filter(item => item.show)
		}
	},
	methods: {
		convertDate(date) {
			const convertedDate = new Date(date)
			// to local timezone
			const localDate = convertedDate.toLocaleString('id-ID', {
				day: 'numeric',
				year: 'numeric',
				month: 'long'
			})
			return localDate
		}
	}
}
</script>

<style lang="scss" scoped></style>
