<template>
	<div class="sticky-footer-container-item --pushed">
		<main>
			<div class="container">
				<!-- Text color -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Text Color</h2>
					<p
						v-for="(color, index) in colors"
						:key="index"
						:class="'text-' + color"
					>
						Text class color = ".text-{{ color }}"
					</p>
				</div>
				<hr />

				<!-- Background color -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Background Color</h2>
					<p
						v-for="(color, index) in colors"
						:key="index"
						:class="'bg-' + color"
					>
						Background class color = ".bg-{{ color }}"
					</p>
				</div>
				<hr />

				<!-- Black tones -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Black Tones</h2>
					<p v-for="n in 9" :key="n" :class="'text-black' + n * 10">
						Black tone = ".text-black{{ n }}0 ($black{{ n }}0)"
						<span :class="'bg-black' + n + 0">___</span>
					</p>
					<p class="text-black">
						Black tone = ".text-black" ($black)
						<span class="bg-black">___</span>
					</p>
				</div>
				<hr />

				<!-- Link color -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Link Color</h2>
					<p v-for="(color, index) in colors" :key="index">
						Link color =<a :class="'link-' + color" href="#"
							>".link-{{ color }}"</a
						>
						<a v-if="color === 'primary'" href="#">(Default link color)</a>
					</p>
				</div>
				<hr />
			</div>
		</main>
	</div>
</template>

<script>
export default {
	computed: {
		colors() {
			return this.$store.state.colors
		}
	}
}
</script>

<style lang="scss" scoped></style>
