<template>
	<div class="sticky-footer-container-item --pushed">
		<main>
			<div class="container">
				<!-- Heading -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Heading</h2>
					<h1>Heading 1</h1>
					<h2>Heading 2</h2>
					<h3>Heading 3</h3>
					<h4>Heading 4</h4>
					<h5>Heading 5</h5>
					<h6>Heading 6</h6>
				</div>
				<hr />

				<!-- Heading styles -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Heading Style</h2>
					<p v-for="n in 6" :key="n" :class="'h' + n">
						Text size adjust h{{ n }}
					</p>

					<hr />
				</div>
			</div>
		</main>
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
