<template>
	<div class="index-page">
		<div class="index-header font-fira text-white h4 text-bold">
			<img src="~assets/img/baze-flat-icon.png" alt="" />
			Baze UI
		</div>
		<div class="index-content text-center font-fira">
			<img class="logo" src="~assets/img/apple-icon.png" alt="" />
			<p class="h3 mb-36">A minimal setup for your frontend environment</p>

			<div class="bzg">
				<div class="bzg_c mb-16" data-col="s12,m5,l4" data-offset="m1,l2">
					<nuxt-link to="/headings" class="btn--suitmedia btn--block text-caps">
						get started
					</nuxt-link>
				</div>
				<div class="bzg_c mb-16" data-col="s12,m5,l4">
					<a
						class="btn--ghost-white btn--block text-caps"
						href="https://github.com/suitmedia/suit-baze"
						target="blank"
						>download</a
					>
				</div>
			</div>
		</div>
		<div class="index-footer text-center text-white text-size14">
			<span class="mr-16">Version 2.20.0</span> |
			<span class="ml-16"
				>Powered by:
				<a class="link-white" href="https://suitmedia.com/" target="blank"
					>Suitmedia.com</a
				></span
			>
		</div>
	</div>
</template>

<script>
export default {
	layout: 'blanklayout',
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	}
}
</script>

<style lang="scss" scoped></style>
