<template>
	<div class="sticky-footer-container-item --pushed">
		<main>
			<div class="container">
				<!-- Media Objects -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">Media Objects</h2>
					<figure class="media">
						<div class="media-figure">
							<img src="~assets/img/favicon.png" alt="" />
						</div>
						<div class="media-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
							incidunt tempora ratione sapiente, nesciunt consectetur officiis
							commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam
							rerum, reprehenderit modi. Fugiat?
						</div>
					</figure>
				</div>
				<hr />

				<!-- With title, button and link -->
				<div class="mb-24">
					<h2 class="text-suitmedia font-fira">With Title, Button, and Link</h2>
					<figure class="media">
						<div class="media-figure">
							<img src="~assets/img/favicon.png" alt="" width="150px" />
						</div>
						<div class="media-content">
							<h4 class="media-title text-primary">Title</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
								in reprehenderit in voluptate velit esse cillum dolore eu fugiat
								nulla pariatur. Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							<p class="mb-0">
								<button class="btn--primary btn--small btn--icon mr-8">
									<i class="bzi-long-arrow bzi-1_2x"></i>
								</button>
								<a href="#">Visit somewhere...</a>
							</p>
						</div>
					</figure>
				</div>
				<hr />
			</div>
		</main>
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
